layout {
  gaps 10
  center-focused-column "never"
  background-color "transparent"
	default-column-width { proportion 0.75; }
	focus-ring {
    on
    width 1
    active-gradient from="#F527B7" to="#27EEF5" angle=135
  }
  struts {}
}
