    window-rule {
        geometry-corner-radius 10 
        clip-to-geometry true
    }

    window-rule {
        match app-id="steam"
        exclude title=r#"^[Ss]team$"#
        open-floating true
    }

    window-rule {
       match app-id="steam" title=r#"^notificationtoasts_\d+_desktop$"#
       default-floating-position x=10 y=10 relative-to="bottom-right"
       open-focused false
    }

    layer-rule {
        match namespace="^noctalia-wallpaper*"
        place-within-backdrop true
    }

    window-rule {
        match app-id="^kitty"
        exclude title=r#"^nv$"#
        opacity 0.90
    }

    window-rule {
        match app-id=r#"^org.gnome.Nautilus$"#
        draw-border-with-background false
        opacity 0.95
    }

    window-rule {
        match app-id=r#"^org.telegram.desktop$"#
        opacity 0.9
        draw-border-with-background false
    }
    
    window-rule {
        match app-id=r#"nvim-wl-anywhere"#
        opacity 0.9
        open-floating true
        max-width 700
        max-height 500
        default-floating-position x=0 y=10 relative-to="top"
    }

    window-rule {
        match app-id="^kitty-drop$"
        open-floating true
        max-width 800
        max-height 400
        default-floating-position x=0 y=10 relative-to="top"
    }
